[Desktop Entry]
Name=Big Store
Name[bg]=Магазин за приложения
Name[cs]=Obchod s aplikacemi
Name[el]=Κατάστημα εφαρμογών
Name[he]=חנות האפליקציות
Name[ja]=アプリストア
Name[ko]=앱 스토어
Name[ru]=Магазин приложений
Name[uk]=Магазин додатків
Name[zh]=应用商店
StartupNotify=true
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Categories=Settings;Biglinux;
Exec=big-store
Icon=big-store
