[Desktop Entry]
Categories=Settings;
Exec=big-store
Icon=/usr/share/bigbashview/bcc/apps/big-store/icon.svg
Name=Big Store
StartupNotify=true
Terminal=false
Type=Application
